/* Zoom und Rotation beim Hover der Social Icons */
.social-icons a svg:hover {
    transform: scale(1.25) rotate3d(1, 1, 1, 15deg);
}

/* Zentriert den Begrüßungstext */
.home-info {
    text-align: center;
}

/* Minimiert den Rand um den Begrüßungstext etwas */
.first-entry {
    min-height: 2%;
    margin: var(--gap) 0 calc(var(--gap) * 1.5);
}

/* Erhöht den Summary Text bei Beitragsliste */
.entry-content {
    -webkit-line-clamp: 4;
}


/* Images mit Caption und zentriert. Arbeitet mit den Shortcodes */
.post-content img[src*="#center"] {
    margin: 0;
}

.post-content img {
    margin: 0;
}

.post-content figure>figcaption {
    color: var(--primary);
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;      /* zentriert unter dem Bild */
    margin: 4px auto 1em;
    max-width: 90%;
}

.center-image {
    text-align: center; /* Zentriert inline-Inhalt wie die figcaption */
}

.center-image img {
    display: block; /* Wichtig, damit auto-margins funktionieren */
    margin-left: auto;
    margin-right: auto;
}